@charset "utf-8";

/****************************************/ 
/* Name: DESIGN WAVE
/* PART: COMMON STYLE
/* Version: 1.0
/* Author: Kim Bo Reum
/****************************************/

/* padding */
.pt0 { padding-top:0px !important; }
.pt5 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }
.pt35 { padding-top:35px !important; }
.pt40 { padding-top:40px !important; }
.pt45 { padding-top:45px !important; }
.pt50 { padding-top:50px !important; }
.pt55 { padding-top:55px !important; }
.pt60 { padding-top:60px !important; }

.pr0 { padding-right:0px !important; }
.pr5 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr25 { padding-right:25px !important; }
.pr30 { padding-right:30px !important; }
.pr35 { padding-right:35px !important; }
.pr40 { padding-right:40px !important; }
.pr45 { padding-right:45px !important; }
.pr50 { padding-right:50px !important; }
.pr55 { padding-right:55px !important; }
.pr60 { padding-right:60px !important; }

.pb0 { padding-bottom:0px !important; }
.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px !important; }
.pb35 { padding-bottom:35px !important; }
.pb40 { padding-bottom:40px !important; }
.pb45 { padding-bottom:45px !important; }
.pb50 { padding-bottom:50px !important; }
.pb55 { padding-bottom:55px !important; }
.pb60 { padding-bottom:60px !important; }

.pl0 { padding-left:0px !important; }
.pl5 { padding-left:5px !important; }
.pl10 { padding-left:10px !important; }
.pl15 { padding-left:15px !important; }
.pl20 { padding-left:20px !important; }
.pl25 { padding-left:25px !important; }
.pl30 { padding-left:30px !important; }
.pl35 { padding-left:35px !important; }
.pl40 { padding-left:40px !important; }
.pl45 { padding-left:45px !important; }
.pl50 { padding-left:50px !important; }

.pppp0{padding:0px !important;}
.pppp5{padding:5px !important;}
.pppp10{padding:10px !important;}
.pppp15{padding:15px !important;}
.pppp20{padding:20px !important;}
.pppp25{padding:25px !important;}
.pppp30{padding:30px !important;}

/* margin */
.mt-25{margin-top:-25px !important;}
.mt-40{margin-top:-40px !important;}
.mt0 { margin-top:0px !important;}
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt60 { margin-top:60px !important; }
.mt70 { margin-top:70px !important; }
.mt80 { margin-top:80px !important; }
.mt90 { margin-top:90px !important; }
.mt100 { margin-top:100px !important; }

.mr5 { margin-right:5px !important; }
.mr8 { margin-right:8px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }

.mb0 { margin-bottom:0 !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }

.ml-20{margin-left:-20px !important;}
.ml-15{margin-left:-15px !important;}
.ml0 { margin-left:0 !important; }
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml70 { margin-left:70px !important; }

/* width */
.wid_100p{width:100%;}
.wid_50p{width:50%;}
.wid_215px{width:215px;}
.wid_240px{width:240px;}
.wid_250px{width:250px;}
.wid_285px{width:285px;}
.wid_315px{width:315px;}
.wid_360px{width:360px;}
.wid_395px{width:395px;}
.wid_400px{width:400px}
.wid_420px{width:420px}
.wid_450px{width:440px}
.wid_465px{width:465px;}
.wid_490px{width:490px;}
.wid_500px{width:500px;}
.wid_540px{width:540px;}
.wid_600px{width:600px;}
.wid_650px{width:650px;}
.wid_670px{width:670px;}
.wid_680px{width:680px;}
.wid_690px{width:690px;}
.wid_700px{width:700px;}

/* li line-height */
.lin_h30 li{line-height:30px !important}
.li_mb5 li{margin-bottom:5px !important}
.li_mb10 li{margin-bottom:10px !important}

/* float해제 */
.hig100p{height:100%;overflow:hidden;}
.flo_clear:after{display:block;clear:both;content:''}

/* font-size */
.fon_11{font-size:11px !important;}
.fon_12{font-size:12px !important;}
.fon_13{font-size:13px !important;}
.fon_14{font-size:14px !important;}
.fon_16{font-size:16px !important;}
.fon_17{font-size:17px !important;}
.fon_18{font-size:18px !important;}

/* font-color */
.col_oran, .col_oran a{color:#ff663a !important;}
.col_yell{color:#ffff00 !important;}
.col_blue{color:#0e51b8 !important}
.col_green{color:#338001 !important;}
.col_gray{color:#676767 !important;}
.col_red,.col_red a{color:#fa1100 !important;}
.col_purple{color:#8055b4 !important;}
.col_black{color:#000 !important;}
.col_violet{color:#e814af !important;}

/* 들려쓰기 */
.txt_ind-15{text-indent:-15px}
.txt_ind15{text-indent:15px}

/* font-family */
.fon_fam_ver{font-family:"Verdana",Arial,Helvetica,sans-serif;}

/* font-weight */
.fon_bold{font-weight:bold !important;}
.fon_nor{font-weight:normal !important;}

/* letter-spacing */
.ltt_0{letter-spacing:0px}
.ltt_1{letter-spacing:-1px}

/* underline */
.dec_line{text-decoration:underline;}
.dec_line_none{text-decoration:none;}

/* line-height */
.line_h20{line-height:20px;}

/* text-align */
.txt_left{text-align:left !important;}
.txt_right{text-align:right !important;}
.txt_center{text-align:center !important;}

/* clear:both */
.clear_b{clear:both;}

/* float:left,right */
.flo_lt{float:left;}
.flo_rt{float:right;}

/* background-color */
.bac_blue{background-color:#ecf2fa;}
.bac_gray{background-color:#fafafa;}

/* background-image */
.bac_no{background:none;}

/* text vertical-align:middle */
.v_a_top{vertical-align:top}
.v_a_mid{vertical-align:middle}
.v_a_bot{vertical-align:bottom}

/* border */
.bor0{border:0 !important;}
.bor0_top{border-top:0 !important;}
.bor0_btm{border-bottom:0 !important;}
.bor0_right{border-right:0 !important;}
.bor0_left{border-left:0 !important;}

.bor1_top{border-top:1px solid #ccc;}
.bor1_btm{border-bottom:1px solid #ccc;}

.brd1{border:1px solid #b7c0c4;}
.brd1_dotted{border-top:1px dotted #b7c0c4;}

/* display:block */
.dis_blo{display:block;}
.dis_inline{display:inline;}

/* position:relative */
.pos_rel{position:relative;}
.pos_abs{position:absolute;}

/* 테이블 tr오버 */
.tr_hover tbody tr:hover td{background:#f5f5f5;}
.tr_hover tbody tr.none td{background:none;}
.th_fon11 tbody th,.th_fon11 tfoot th{font-size:11px;}
.th_nor tbody th,.th_nor tfoot th{font-weight:normal;}
.th_bol tbody th,.th_bol tfoot th{font-weight:bold;}
.th_left tbody th{text-align:left;}
.td_left tbody td{text-align:left;}

tbody th.lin_rt{border-right:1px solid #e9e9e9}

/* table td color */
td.td_gray{color:#888888}

/* 오른쪽 버튼뛰우기 */
.btn_sbso{position:absolute;top:0;right:0;display:block;z-index:10}

/*level*/
p.level {width:57px; height:18px; text-indent:-9999px;}
p.level.ele {background:url(../_img/main/ico_sprite_level.png) no-repeat; background-position:0px 0px;}
p.level.mid {background:url(../_img/main/ico_sprite_level.png) no-repeat; background-position:0px -18px;}
p.level.high {background:url(../_img/main/ico_sprite_level.png) no-repeat; background-position:0px -36px;}



.inner_cont .top_text{
    position: relative;
    top: -39vh;
}

.project_slider.project_slider .swiper-slide .ytbg{
    opacity: 1;
}
#product_video#product_video video{
    opacity: 1;
}